@{
    ViewData["Title"] = "SSPGame-Home";
}



@*<div class="vertikal-flex">*@

       <div class="text-lg-left m-8  darkSlateBlueText-m">


            <p>Schere, Stein, Papier (auch Schnick, Schnack, Schnuck; Fli, Fla, Flu; Ching, Chang, Chong</p>
            <p>Klick, Klack, Kluck; Stein schleift Schere; Schnibbeln, Knobeln oder Schniekern) ist ein</p>
            <p>sowohl bei Kindern als auch Erwachsenen beliebtes und weltweit verbreitetes Spiel. Zwei</p>
            <p>Spieler wählen je eins der drei möglichen Symbole Schere, Stein oder Papier und zeigen</p>
            <p>dieses dann auf ein Kommando gleichzeitig (schlagartig) mit Hilfe einer ihrer Hände an.</p>
            <p>Da jedes Symbol gegen ein anderes gewinnen oder verlieren kann, steht immer einer der</p>
            <p>Spieler als Gewinner fest. Zu Unentschieden kommt es, wenn beide Spieler dasselbe Symbol</p>
            <p>wählen. Das Spiel wird in diesem Fall wiederholt.</p>
            <p>Es wird in Analogie zum Münzwurf auch oft zur Entscheidung zwischen zwei Möglichkeiten</p>
            <p>benutzt, zum Beispiel dafür, welche Fußball-Mannschaft den ersten Anstoß ausführt.</p>
        </div>


