@{
    ViewData["Title"] = "Solution-Content";
}
<h3>@ViewData["Title"]</h3>


<div class="text-lg-left mt-4">

    <div class="border-top my-4"></div>
        
    <div class="container mb-8">
        <div class="row">
            <div class="col-lg-5 darkBlueText-x">
                Solution:&emsp;Aluca.SSPGameDevTest
            </div>
            <div class="col-7-lg  darkBlueText-m ">
                Development Test for Company Pass-Ag
            </div>
        </div>
    </div>
    <div class="border-top my-4"></div>



    <div class="container mb-4">
        <div class="row">
            <div class="col-lg-5 darkGreenText-x">
                Project-1:&emsp;Aluca.SSPGameConsoleApp
            </div>
            <div class="col-7-lg  darkGreenText-m ">
                .NET Core 5.0 Console-App
            </div>
        </div>
    </div>
    <div class="border-top my-4"></div>


    <div class="container mb-4">
        <div class="row">
            <div class="col-lg-5 darkRedText-x">
                Project-2:&emsp;Aluca.SSPGameServer
            </div>
            <div class="col-7-lg  darkRedText-m ">
                .NET Core WebApp
            </div>
        </div>
    </div>
    <div class="border-top my-4"></div>


    <div class="container mb-4">
        <div class="row">
            <div class="col-lg-5 darkSlateBlueText-x">
                Project-3:&emsp;Aluca.SSPGameEngine
            </div>
            <div class="col-7-lg  darkSlateBlueText-m ">
                .NET Core 5.0 Class-Library
            </div>
        </div>
    </div>
    <div class="border-top my-4"></div>


    <div class="container mb-4">
        <div class="row">
            <div class="col-lg-5 darkSaddleBrownText-x">
                Project-4:&emsp;Aluca.SSPGameUnitTest
            </div>
            <div class="col-lg-7  darkSaddleBrownText-m ">
                Run UnitTest by right-mouse-click on ProjectName , then choose run Tests
            </div>
        </div>
    </div>
    <div class="border-top my-4"></div>


    <div class="container mb-4">
        <div class="row">
            <div class="col-lg-5 darkIndigoText-x">
                Entwickler:&emsp;AlucaSoft
            </div>
            <div class="col-lg-7  darkIndigoText-m ">
                Wolfgang Jurczik&emsp;kanino@web.de&emsp;01575-5504787
            </div>
        </div>
    </div>
    <div class="border-top my-4"></div>
</div>



